* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
<<<<<<< HEAD


=======
>>>>>>> 43276ef61a4046bd52fbb66dcf5bb4af78766eee
.header {
    background-color: #202020;
    padding-bottom: 5px;
}
.header h1, .header h2 {
    padding: 5px;
}
nav a {
    padding: 5px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22pt;
    text-decoration: none;
}
.currentPage {
    color: lightblue;
}
.design {
    background-color: lightcoral;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72pt;
    color: whitesmoke;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36pt;
    color: whitesmoke;
<<<<<<< HEAD
}


* form {
    width: 50px;
    padding: 10px;
}
textarea {
    color: grey;
=======
>>>>>>> 43276ef61a4046bd52fbb66dcf5bb4af78766eee
}