* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}
.header {
    padding: 15px;
    padding-bottom: 5px;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72pt;
    color: whitesmoke;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36pt;
    color: whitesmoke;
    margin-bottom: 6pt;
}
nav a {
    padding: 5px;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22pt;
    text-decoration: none;
}
.currentPage {
    color: lightblue;
}
.bodyBox {
    padding-top: 30px;
    padding-left: 45px;
}
.bodyBox * {
    width: 75%;
    align-items: left;
}
.aboutBlurb {
    padding-bottom: 24pt;
}
.contactBox {
    width: auto;
    display: inline-block;
}
.contactBox p {
    padding: 15px;
}